<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<link rel="stylesheet" href="styles.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<title>formateur/disponibilite</title>
</head>
<body align="center" style="padding: 2px 5px;">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="compte.html">Mon Compte</a></li>
			<li class="nav-item"><a class="nav-link" href="disponibilite.html">Mes Disponibilités</a></li>
			<li class="nav-item"><a class="nav-link" href="matiere.html">Mes Matières</a></li>
			<li class="nav-item"><a class="nav-link" href="presence.html">Validation de présence</a></li>
			<li class="nav-item"><a class="nav-link" href="module.html">Evaluation des modules</a></li>
			<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="deconnexion.html">
					<i class="fas fa-user-cog"></i>
			</a></li>
		</ul>
	</nav>
	<section layout:fragment="custom-content">
		<div class="card">
			<h2 align="center">Mes disponibilités</h2>
			<div class="card-body table-wrap">
				<table id="dtDispotab" class="table table-striped table-bordered "
					style="width: 1000px" align="center">
					<thead class=thead-light>
						<tr>
							<th>date de debut</th>
							<th>date de Fin</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>23/09/2019</td>
							<td>20/11/2019</td>
							<td><a class="btn btn-sm btn-primary"> <i
									class="fas fa-edit"></i>
							</a>&nbsp;<a class="btn btn-sm btn-danger"> <i
									class="fas fa-trash"></i>
							</a></td>
						</tr>
						<tr>
							<td>25/11/2019</td>
							<td>03/04/2020</td>
							<td><a class="btn btn-sm btn-primary"> <i
									class="fas fa-edit"></i>
							</a>&nbsp;<a class="btn btn-sm btn-danger"> <i
									class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>

		</div>
	</section>
	<div id="calendrier" align="right">
		<button type="button" class="btn btn-primary pull-right">Ajouter une disponibilité</button>
	</div>
	<div align="center">
		<img
			src="https://www.veduc-wear.com/wp-content/uploads/2017/11/calendrier2018_calendrier.png"
			width="500px">	
	</div>
	<div align="center">
	<div class="btn-group ">
			<button type="submit" class="btn btn-sm btn-primary">
				<i class="far fa-check-square fa-2x"></i>
			</button>
			<a th:href="@{/eleve/cancel}" class="btn btn-sm btn-danger">
				<i class="far fa-window-close fa-2x"></i>
			</a>
			</div>
			</div>
</body>
</html>