<div class="card">
  <div class="card-header" >
    <div class="card-body">
      <div align="center">
      <div class="container"
           style="display: flex; justify-content: space-around" >
        <a>Choix de la demi journée : </a>
        <button type="button" class="element, btn btn-primary" >Matin</button>
        <button type="button" class="element, btn btn-primary">Après-midi</button>
      </div>
        <hr>
        <div class="container" style="padding-top: 10px;">

        <button class="btn btn-primary" (click)="activerSignature()" >Activer les signatures</button>
      </div>

    </div>
  </div>

<div class="card-body">
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'nom' | translate }}</th>
      <th>{{ 'prenom' | translate }}</th>
      <th>{{ 'date' | translate }}</th>
      <th>{{ 'matin' | translate }}</th>
      <th>{{ 'apresMidi' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stagiaire of list()"  >

      <td>{{stagiaire.nom }}</td>
      <td>{{stagiaire.prenom }}</td>
      <td>{{stagiaire.presence?.date }}</td>
      <td>{{stagiaire.presence?.presenceMatin }}</td>
      <td>{{stagiaire.presence?.presenceApresMidi }}</td>
      <td>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-danger" (click)="delete(presence.id)"><i class="fas fa-trash"></i></button>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>
<div class="card-footer" align="right">
  <button class="btn btn-info" (click) = "validerSignature()"><i > valider signature</i></button>
</div>
</div>
</div>




