<div class="card">
  <div *ngIf="hasAnyRole(['administrateur','client','gestionnaire'])"  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'stagiaire.liste' | translate }}</b>
  </div>
  <div class="card">
    <div class="card-header" style="display: flex; justify-content: space-around" >
    <div class="form-inline element">
      <label class="pr-3">{{ 'stagiaire.rechercheStagiaire' | translate }}</label>
      <input type="text" [(ngModel)]="search" class="form-control">
    </div>
   <div class="form-inline element" *ngIf="hasAnyRole(['administrateur','gestionnaire'])">
    <label class="pr-3">{{ 'stagiaire.rechercheClient' | translate }}</label>
     <input type="text" [(ngModel)]="search2" class="form-control">
    </div>
  </div>


  <div *ngIf="hasAnyRole(['client','gestionnaire','administrateur'])" class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th><b>{{ 'stagiaire.civilitef' | translate }}</b></th>
        <th>{{ 'stagiaire.nomf' | translate }}</th>
        <th>{{ 'stagiaire.prenomf' | translate }}</th>
        <th>{{ 'stagiaire.formationf' | translate }}</th>
        <th>{{ 'stagiaire.clientf' | translate }}</th>
        <th>{{ 'stagiaire.ordinateurf' | translate }}</th>
        <th>{{ 'stagiaire.commentairef' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="hasAnyRole(['administrateur','gestionnaire'])">
      <tr *ngFor="let stagiaire of filter2()">
        <td *ngIf="stagiaire.civilite == 'M'"><span>{{ 'stagiaire.civilite.M' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'MME'"><span>{{ 'stagiaire.civilite.MME' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'MLLE'"><span>{{ 'stagiaire.civilite.MLLE' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'NSP'"><span>{{ 'stagiaire.civilite.NSP' | translate }}</span></td>
        <td>{{stagiaire.nom}}</td>
        <td>{{stagiaire.prenom}}</td>
        <td ><span *ngFor="let sf of stagiaire.stagiaireFormations" >{{sf.formation.intitule}}</span></td>
        <td><span>{{stagiaire.client?.nomEntreprise}}</span></td>
        <td>{{stagiaire.ordinateur?.code}}</td>
        <td><span>{{stagiaire.commentaires}}</span></td>
        <td align="right"><div class="btn-group btn-group-xs">
<!--          <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-secondary" (click)="presence(stagiaire.id)"><i class="fas fa-calendar-alt"></i></button>-->
          <button class="btn btn-success" data-toggle="modal" data-target="#myModalView" (click)="view(stagiaire.id)"><i class="fas fa-eye"></i></button>
          <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-warning text-white" data-toggle="modal" data-target="#myModal" (click)="edit(stagiaire.id)"><i class="fas fa-pen"></i></button>
          <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-danger" (click)="delete(stagiaire.id)"><i class="fas fa-trash"></i></button>
        </div></td>
      </tr>
      </tbody>


      <tbody *ngIf="hasAnyRole(['client'])">
      <tr *ngFor="let stagiaire of stagiaireList">
        <td *ngIf="stagiaire.civilite == 'M'"><span>{{ 'stagiaire.civilite.M' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'MME'"><span>{{ 'stagiaire.civilite.MME' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'MLLE'"><span>{{ 'stagiaire.civilite.MLLE' | translate }}</span></td>
        <td *ngIf="stagiaire.civilite == 'NSP'"><span>{{ 'stagiaire.civilite.NSP' | translate }}</span></td>
        <td>{{stagiaire.nom}}</td>
        <td>{{stagiaire.prenom}}</td>
        <td ><span *ngFor="let sf of stagiaire.stagiaireFormations" >{{sf.formation.intitule}}</span></td>
        <td><span>{{stagiaire.client?.nomEntreprise}}</span></td>
        <td>{{stagiaire.ordinateur?.code}}</td>
        <td><span>{{stagiaire.commentaires}}</span></td>
        <td align="right"><div class="btn-group btn-group-xs">
          <!--          <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-secondary" (click)="presence(stagiaire.id)"><i class="fas fa-calendar-alt"></i></button>-->
          <button class="btn btn-success" data-toggle="modal" data-target="#myModalView" (click)="view(stagiaire.id)"><i class="fas fa-eye"></i></button>
        </div></td>
      </tr>
      </tbody>


    </table>
    <mat-paginator [pageSize]="1"></mat-paginator>
  </div>


  <div *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="card-footer ">
    <button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="add()"><i class="fas fa-plus"></i></button>
    <button class="btn btn-secondary" (click)="savecsv()"><i class="fas fa-file-export"></i></button>
  </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ 'stagiaire.edition' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="stagiaireForm">
            <label><b>{{ 'stagiaire.civilitef' | translate }}</b></label>
            <select [(ngModel)]="stagiaireForm.civilite"  class="form-control" >
              <option *ngFor="let civ of civilites">{{civ}}</option>
            </select>
            <label>{{ 'stagiaire.nomf' | translate }}</label>
            <input type="text" class="form-control" placeholder= "{{ 'stagiaire.mnom' | translate }}" [(ngModel)]="stagiaireForm.nom">
            <label>{{ 'stagiaire.prenomf' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mprenom' | translate }}" [(ngModel)]="stagiaireForm.prenom">
            <label>{{ 'stagiaire.telephonef' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mtelephone' | translate }}"[(ngModel)]="stagiaireForm.telephone">
            <label>{{ 'stagiaire.mailf' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mmail' | translate }}"[(ngModel)]="stagiaireForm.utilisateur.mail">
            <label>{{ 'stagiaire.voief' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mvoie' | translate }}" [(ngModel)]="stagiaireForm.adresse.voie">
            <label>{{ 'stagiaire.complementf' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mcomplement' | translate }}" [(ngModel)]="stagiaireForm.adresse.complement">
            <label>{{ 'stagiaire.codePostalf' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mcodepostal' | translate }}" [(ngModel)]="stagiaireForm.adresse.codePostal">
            <label>{{ 'stagiaire.villef' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mville' | translate }}" [(ngModel)]="stagiaireForm.adresse.ville">
            <label>{{ 'stagiaire.paysf' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'stagiaire.mpays' | translate }}" [(ngModel)]="stagiaireForm.adresse.pays">

            <label>{{ 'stagiaire.clientf' | translate }}</label>
              <select [(ngModel)]="stagiaireForm.client.id" class="form-control">
              <option *ngFor = "let client of filterclient()" [value]="client.id" >{{client.nomEntreprise}}</option>
              </select>
            <label>{{ 'stagiaire.ordinateurf' | translate }}</label>
            <select [(ngModel)]="stagiaireForm.ordinateur.id" class="form-control">
              <option  *ngFor = "let ordinateur of filterordi()" [value]="ordinateur.id" > {{ordinateur.code}}</option>
            </select>
            <label>{{ 'stagiaire.commentairef' | translate }}</label>
            <input type="text" class="form-control"   placeholder="{{ 'stagiaire.mcommentaire' | translate }}" [(ngModel)]="stagiaireForm.commentaires">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="btn-group ">
              <button class="btn btn-success" (click)="save()" data-dismiss="modal">
                <i class="far fa-check-square fa-2x"></i>
              </button>
              <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
                <i class="far fa-window-close fa-2x"></i>
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

<!--  <div class='app' *ngIf="selectedStagiaire">-->

<!--     <div class='app-calendar' *ngIf="calendarVisible" >-->
<!--     <full-calendar-->
<!--        #calendar-->
<!--        defaultView="dayGridMonth"-->
<!--        [header]="{-->
<!--        left: 'prev,next today',-->
<!--        center: 'title',-->
<!--        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'-->
<!--      }"-->
<!--        [plugins]="calendarPlugins"-->
<!--        [weekends]="calendarWeekends"-->
<!--        [events]="calendarEvents"-->

<!--     ></full-calendar>-->
<!--  </div>-->
<!--  </div>-->



    <!-- The Modal -->
    <div class="modal" id="myModalView">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ 'stagiaire.vue' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="stagiaireView">
            <p>{{ 'stagiaire.civilite' | translate }}{{ stagiaireView.civilite }}</p>
            <p>{{ 'stagiaire.nom' | translate }}{{ stagiaireView.nom }}</p>
            <p>{{ 'stagiaire.prenom' | translate }}{{ stagiaireView.prenom }}</p>
            <p>{{ 'stagiaire.telephone' | translate }}{{ stagiaireView.telephone }}</p>
            <p>{{ 'stagiaire.mail' | translate }}{{ stagiaireView.utilisateur.mail }}</p>
            <p>{{ 'stagiaire.voie' | translate }}{{ stagiaireView.adresse.voie }}</p>
            <p>{{ 'stagiaire.complement' | translate }}{{ stagiaireView.adresse.complement }}</p>
            <p>{{ 'stagiaire.codePostal' | translate }}{{ stagiaireView.adresse.codePostal }}</p>
            <p>{{ 'stagiaire.ville' | translate }}{{ stagiaireView.adresse.ville }}</p>
            <p>{{ 'stagiaire.pays' | translate }}{{ stagiaireView.adresse.pays }}</p>
            <p>{{ 'stagiaire.client' | translate }}{{ stagiaireView.client.nomEntreprise }} </p>
            <p>{{ 'stagiaire.ordinateur' | translate }}{{ stagiaireView.ordinateur.code }}</p>
            <p>{{ 'stagiaire.formation' | translate }}</p>
            <p>{{ 'stagiaire.commentaire' | translate }} {{ stagiaireView.commentaires }}</p>
          </div>
        </div>
      </div>
    </div>
</div>






<!-- The Modal -->
<!-- <div class="modal" id="myModalCalendrier">
  <div class="modal-dialog">
    <div class="modal-content">-->

      <!-- Modal Header
      <div class="modal-header">
        <h4 class="modal-title">{{ 'stagiaire.calendrier' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>-->

      <!-- Modal body
      <div class="modal-body">
        <ngb-datepicker #dp [(ngModel)]="modelCal" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
    </div>
  </div>
</div> -->
