<div class="card-header jumbotron jumbotron-fluid">
  <h1 id="homeTitle">{{ 'home.titre' | translate }}</h1>
  <p id="homeSubtitle">{{ 'home.description' | translate }}</p>

  <div class="text-center">
  <form class="form-signin">
    <h1 class="font-weight-light" style="padding-bottom: 100px;">Mot de passe oublié ? </h1>

    <label for="id" class="sr-only">Identifiant</label>
    <input type="text" id="id" class="form-control" placeholder="Identifiant" required autofocus>

    <label for="mail" class="sr-only">Adresse mail</label>
    <input type="mail" id="mail" class="form-control" placeholder="Adresse mail" required>

    <label for="mailconfirmation" class="sr-only">Confirmation de votre adresse mail</label>
    <input type="mail" id="mailconfirmation" class="form-control" placeholder="Confirmation de l'adresse mail" required>

    <p routerLinkActive="active"><input type ="button" data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-primary btn-block" value="Réinitialiser le mot de passe">
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">Un mail de réinitialisation vient de vous être envoyé.</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->


      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-success" [routerLink]="['/login']" data-dismiss="modal"> <i class="far fa-check-square fa-2x"></i></button>
        </div>

      </div>

    </div>
  </div>
</div>
