<div class="card">
  <div class="card-header">
   <b>{{ 'contact.titre' | translate }}</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr >
        <th>{{ 'contact.list.civilite' | translate }}</th>
        <th>{{ 'contact.list.nom' | translate }}</th>
        <th>{{ 'contact.list.prenom' | translate }}</th>
        <th>{{ 'contact.list.telephone' | translate }}</th>
        <th>{{ 'contact.list.nomEntreprise' | translate }}</th>
<!--        <th>{{ 'contact.list.mail' | translate }}</th>-->
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of list()">
        <td *ngIf="contact.civilite == 'M'">{{ 'contact.monsieur' | translate }}</td>
        <td *ngIf="contact.civilite == 'MME'">{{ 'contact.madame' | translate }}</td>
        <td *ngIf="contact.civilite == 'MLLE'">{{ 'contact.mademoiselle' | translate }}</td>
        <td *ngIf="contact.civilite == 'NSP'">{{ 'contact.nsp' | translate }}</td>
<!--        <td>{{contact.civilite}}</td>-->
        <td>{{contact.nom}}</td>
        <td>{{contact.prenom}}</td>
        <td>{{contact.telephone}}</td>
        <td>{{contact.client?.nomEntreprise}}</td>
<!--        <td>{{contact.utilisateur?.mail}}</td>-->
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-info" (click)="edit(contact.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="delete(contact.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>

<div class="card mt-2" *ngIf="contactForm">
  <div class="card-header">
    {{ 'contact.edition' | translate }}
  </div>
  <div class="card-body">
    <label>{{ 'contact.form.civilite' | translate }} :</label>
    <select [(ngModel)]="contactForm.civilite" class="form-control" >
      <option value="M">{{ 'contact.monsieur' | translate }}</option>
      <option value="MME">{{ 'contact.madame' | translate }}</option>
      <option value="MLLE">{{ 'contact.mademoiselle' | translate }}</option>
      <option value="NSP">{{ 'contact.nsp' | translate }}</option>

    </select>
    <label>{{ 'contact.form.nom' | translate }} :</label>
    <input type="text" class="form-control" [(ngModel)]="contactForm.nom">
    <label>{{ 'contact.form.prenom' | translate }} :</label>
    <input type="text" class="form-control" [(ngModel)]="contactForm.prenom">
    <label>{{ 'contact.form.telephone' | translate }} :</label>
    <input type="text" class="form-control" [(ngModel)]="contactForm.telephone">
    <label>{{ 'contact.form.nomEntreprise' | translate }} :</label>
    <select [(ngModel)]="contactForm.client.id" class="form-control">
      <option  *ngFor = "let client of filterclient()" [value]="client.id" > {{client.nomEntreprise}}</option>
    </select>
<!--    <label>{{ 'contact.form.mail' | translate }} :</label>-->
<!--    <input type="text" class="form-control" [(ngModel)]="contactForm.utilisateur.mail">-->
  </div>
  <div class="card-footer text-right">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>
