<div *ngIf="hasAnyRole(['client', 'gestionnaire', 'administrateur'])" class="card">

  <div class="card-header">
    <b>{{ 'client-formation.titre' | translate }}</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'client-formation.list.nomEntreprise' | translate }}</th>
        <th>{{ 'client-formation.list.businessUnit' | translate }}</th>
        <th>{{ 'client-formation.list.nbPlace' | translate }}</th>
        <th>{{ 'client-formation.list.acceptees' | translate }}</th>
        <th >{{ 'client-formation.list.statut' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let clientFormation of list()">
        <td>{{clientFormation.client?.nomEntreprise}}</td>
        <td>{{clientFormation.client?.nomBusinessUnit}}</td>
        <td>{{clientFormation.demandes}}</td>
        <td>{{clientFormation.accordes}}</td>
        <td  *ngIf="clientFormation.statut == true"><span>{{ 'client-formation.list.validees' | translate }}</span></td>
        <td *ngIf="clientFormation.statut !== true"><span>{{ 'client-formation.list.nonvalidees' | translate }}</span></td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-info" (click)="edit(clientFormation.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="delete(clientFormation.id)"><i class="fas fa-trash"></i></button>
            <button class="btn btn-warning text-white" (click)="commentaire(clientFormation.id)"><i class="fas fa-comment-dots"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>

  </div>
</div>

<div class="card mt-2" *ngIf="clientFormationForm">
  <div class="card-header">
    {{ 'client-formation.inscription' | translate }}
  </div>
  <div class="card-body">
    <label >{{ 'client-formation.form.demandes' | translate }} :</label>
    <input type="number" class="form-control" [(ngModel)]="clientFormationForm.demandes">
    <label>{{ 'client-formation.form.commentaires' | translate }} :</label>
    <input type="text" class="form-control" [(ngModel)]="clientFormationForm.commentaires">
    <label>{{ 'client-formation.form.client' | translate }}</label>
    <select [(ngModel)]="clientFormationForm.client.id" class="form-control">
      <option  *ngFor = "let client of filterclient()" [value]="client.id" > {{client.nomEntreprise}}</option>
    </select>
    <label *ngIf="hasAnyRole(['administrateur','gestionnaire'])">{{ 'client-formation.form.formation' | translate }}</label>
    <select *ngIf="hasAnyRole(['administrateur','gestionnaire']) "[(ngModel)]="clientFormationForm.formation.id" class="form-control">
      <option  *ngFor = "let formation of filterformation()" [value]="formation.id" > {{formation.intitule}}</option>
    </select>
    <label *ngIf="hasAnyRole(['gestionnaire', 'administrateur'])">{{ 'client-formation.form.statut' | translate }} :</label>
    <select *ngIf="hasAnyRole(['gestionnaire', 'administrateur'])" [(ngModel)]="clientFormationForm.statut" class="form-control" >
      <option value=true>{{ 'client-formation.form.validees' | translate }}</option>
      <option value=false>{{ 'client-formation.form.nonvalidees' | translate }}</option>
    </select>
  </div>
  <div class="card-footer text-right">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>


<div class="card mt-2"  *ngIf="clientFormationCommentaire">
    <div class="card-header">
      {{ 'client-formation.commentaires' | translate }}
    </div>
    <div class="card-body" style="display: flex; justify-content: space-between">
      <div class="element">{{clientFormationCommentaire.commentaires}}</div>
      <div class="element"><button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="editCommentaire(clientFormationCommentaire.id)"><i class="fas fa-pen"></i></button></div>
      </div>
</div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ 'client-formation.commentaires-edition' | translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngIf="clientFormationCommentaire">
          <label>{{ 'client-formation.commentaires' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="clientFormationCommentaire.commentaires">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="btn-group ">
            <button class="btn btn-success" (click)="save()" data-dismiss="modal">
              <i class="far fa-check-square fa-2x"></i>
            </button>
            <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
              <i class="far fa-window-close fa-2x"></i>
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

<!--<div class="card mt-2" *ngIf="clientCommentaireForm">-->
<!--  <div class="card-header">-->
<!--    Commentaires-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--     <label>Commentaires :</label>-->
<!--    <div type="text" class="form-control" [(ngModel)]="clientCommentaireForm.commentaires">-->
<!--  </div>-->
<!--  <div class="card-footer text-right">-->
<!--    <div class="btn-group ">-->
<!--      <button class="btn btn-success" (click)="savecommentaire()">-->
<!--        <i class="far fa-check-square fa-2x"></i>-->
<!--      </button>-->
<!--      <button class="btn btn-warning text-white" (click)="cancel()">-->
<!--        <i class="far fa-window-close fa-2x"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
