<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'videoprojecteur.titre' | translate }}</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'videoprojecteur.code' | translate }}</th>
        <th>{{ 'videoprojecteur.coutUtilisation' | translate }}</th>
        <th>{{ 'videoprojecteur.hdmi' | translate }}</th>
        <th>{{ 'videoprojecteur.vga' | translate }}</th>
        <th>{{ 'videoprojecteur.resolution' | translate }}</th>
        <th>{{ 'videoprojecteur.formation' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let videoprojecteur of list()">
        <td>{{videoprojecteur?.code}}</td>
        <td>{{videoprojecteur?.coutUtilisation}}</td>
        <td>
          <span *ngIf="videoprojecteur?.hdmi===true">oui</span>
          <span *ngIf="videoprojecteur?.hdmi===false">non</span>
        </td>
        <td>
          <span *ngIf="videoprojecteur?.vga===true">oui</span>
          <span *ngIf="videoprojecteur?.vga===false">non</span>
        </td>
        <td>{{videoprojecteur?.resolution}}</td>
        <td><span *ngFor="let mf of videoprojecteur.materielFormation">{{mf.formation.intitule}}</span></td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModalView"
                    (click)="view(videoprojecteur.id)"><i class="fas fa-eye"></i></button>
            <button class="btn btn-warning text-white" data-toggle="modal" data-target="#myModal" (click)="edit(videoprojecteur.id)">
              <i class="fas fa-pen"></i></button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModalReserv" (click)="listReservationById(videoprojecteur.id)"><i class="fas fa-calendar-plus"></i></button>
            <button class="btn btn-danger" (click)="delete(videoprojecteur.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="card-footer">
      <button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="add()"><i
        class="fas fa-plus"></i></button>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ 'videoprojecteur.edition' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="videoprojecteurForm">
            <label>{{ 'videoprojecteur.code' | translate }}</label>
            <input type="text" class="form-control" [(ngModel)]="videoprojecteurForm.code">
            <label>{{ 'videoprojecteur.coutUtilisation' | translate }}</label>
            <input type="text" class="form-control" [(ngModel)]="videoprojecteurForm.coutUtilisation">
            <label>{{ 'videoprojecteur.hdmi' | translate }}</label>
            <input type="checkbox" class="form-control" [(ngModel)]="videoprojecteurForm.hdmi">
            <label>{{ 'videoprojecteur.vga' | translate }}</label>
            <input type="checkbox" class="form-control" [(ngModel)]="videoprojecteurForm.vga">
            <label>{{ 'videoprojecteur.resolution' | translate }}</label>
            <select [(ngModel)]="videoprojecteurForm.resolution" class="form-control">

              <option *ngFor="let res of resolutions">{{res}}</option>
            </select>

            <!--    <label>{{ 'videoprojecteur.disponibilite' | translate }}</label>-->
            <!--    <input type="text" class="form-control" [(ngModel)]="videoprojecteurForm.disponibilite">-->
            <!--    <label>{{ 'videoprojecteur.formationIntitule' | translate }}</label>-->
            <!--    <input type="text" class="form-control" [(ngModel)]="videoprojecteurForm.formation">-->
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="btn-group ">
              <button class="btn btn-success" (click)="save()" data-dismiss="modal">
                <i class="far fa-check-square fa-2x"></i>
              </button>
              <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
                <i class="far fa-window-close fa-2x"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<!-- The Modal -->
<div class="modal" id="myModalView">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ 'videoprojecteur.vue' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="videoprojecteurView">
        <p>{{ 'videoprojecteur.code' | translate }} : {{ videoprojecteurView.code }}</p>
        <p>{{ 'videoprojecteur.coutUtilisation' | translate }} : {{ videoprojecteurView.coutUtilisation }}</p>
        <p>{{ 'videoprojecteur.hdmi' | translate }} : {{ videoprojecteurView.hdmi }}</p>
        <p>{{ 'videoprojecteur.vga' | translate }} : {{ videoprojecteurView.vga }}</p>
        <p>{{ 'videoprojecteur.resolution' | translate }} : {{ videoprojecteurView.resolution }}</p>
        <p *ngFor="let mf of videoprojecteurView.materielFormation">{{ 'videoprojecteur.formation' | translate }}
          : {{mf.formation.intitule}}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModalReserv">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ 'videoprojecteur.reservation' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="videoprojecteurResa">

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{ 'videoprojecteur.materielFormationDtDebut' | translate }}</th>
              <th>{{ 'videoprojecteur.materielFormationDtFin' | translate }}</th>
              <th>{{ 'videoprojecteur.formation' | translate }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let mf of videoprojecteurResa">
            <tr>
              <td><span>{{mf.dtDebut  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.dtFin  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.formation.intitule}}</span></td>
              <td align="right">
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-warning text-white" data-toggle="modal" data-target="#myModalReservEdit" (click)="editResa(mf.id)"><i
                    class="fas fa-pen"></i></button>
                  <button class="btn btn-danger" (click)="deleteResa(mf.id)"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>

          <div *ngIf="materielFormationCalendar">
          <div>
            <div class="card-header">
              <label>{{ 'videoprojecteur.editionReservation' | translate }}</label>
            </div>
            <div class="card-body" >
              <label>{{ 'videoprojecteur.materielFormationDtDebut' | translate }}</label>
              <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtDebut">
              <label>{{ 'videoprojecteur.materielFormationDtFin' | translate }}</label>
              <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtFin">
              <label>{{ 'videoprojecteur.videoprojecteurFormation' | translate }}</label>
              <p>
                <select class="dropdown" [(ngModel)]="materielFormationCalendar.formation.id">
                  <option *ngFor="let formation of formations" [value] = "formation.id">{{formation.intitule}}</option>
                </select>
              </p>
              <label>{{ 'videoprojecteur.id' | translate }}</label>
              <input type="number" class="form-control"  [value]="videoprojecteurId" readonly>

            </div>
          </div>
          </div>


      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="container">
        <button class="btn btn-info mr-2" (click)="addResa()"><i class="fas fa-plus"></i></button>
        </div>


        <div class="btn-group ">
          <button class="btn btn-success" (click)="save()" data-dismiss="modal">
            <i class="far fa-check-square fa-2x"></i>
          </button>
          <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
            <i class="far fa-window-close fa-2x"></i>
          </button>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>
