<!--<div class="col-md-6 col-md-offset-3">-->
<!--  <div class="login-wrapper">-->
<!--    <h2>Page de connexion</h2>-->
<!--    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>-->
<!--      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
<!--        <label for="username">Identifiant</label>-->
<!--        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" placeholder='Saisissez votre identifiant' required />-->
<!--      </div>-->
<!--      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
<!--        <label for="password">Mot de passe</label>-->
<!--        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" placeholder='Saisissez votre mot de passe' required />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary pull-right" [disabled]="!f.form.valid">Connexion</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--      <h1 class="font-weight-light" >Authentification</h1>-->
<!--      <label for="inputEmail" class="sr-only">E-mail</label>-->
<!--      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
<!--      <label for="inputPassword" class="sr-only">Mot de Passe</label>-->
<!--      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--      <div class="checkbox mb-3">-->
<!--        <label>-->
<!--          <input type="checkbox" value="remember-me"> Se souvenir de moi-->
<!--        </label>-->
<!--      </div>-->
<!--      <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>-->

<div class="card-header jumbotron jumbotron-fluid">
  <h1 id="homeTitle" style="text-align: center; font-size: 80px">{{ 'home.bienvenue' | translate }}</h1>
  <p id="homeSubtitle" style="text-align: center">{{ 'home.description' | translate }}</p>
  <div class="card-body text-center">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Identifiant</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" placeholder='Saisissez votre identifiant' required />
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" placeholder='Saisissez votre mot de passe' required />
      </div>
      <label><input type="checkbox" value="remember-me"> Se souvenir de moi</label>
      <div class="form-group">
        <button class="btn btn-primary pull-right" [disabled]="!f.form.valid">Connexion</button>
      </div>
    </form>
    <span id="resetmdpbutton"  style="cursor:pointer" [routerLink]="['/mdpforget']">Mot de passe oublié ?</span>
  </div>
</div>
