<div class="card">
    <div  class="card-header" style = "text-align: center; font-size: x-large">
      <b>{{ 'gestionnaire.titre' | translate }}</b>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="form-inline">
          <label class="pr-3">{{ 'gestionnaire.recherche' | translate }}</label>
          <input type="text" [(ngModel)]="search" class="form-control">
        </div>


  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'gestionnaire.list.civilite' | translate }}</th>
          <th>{{ 'gestionnaire.list.nom' | translate }}</th>
          <th>{{ 'gestionnaire.list.prenom' | translate }}</th>
          <th>{{ 'gestionnaire.list.telephone' | translate }}</th>
          <th>{{ 'gestionnaire.list.mail' | translate }}</th>
		  <th>{{ 'gestionnaire.list.voie' | translate }}</th>
      <th>{{ 'gestionnaire.list.complement' | translate }}</th>
      <th>{{ 'gestionnaire.list.codePostal' | translate }}</th>
      <th>{{ 'gestionnaire.list.ville' | translate }}</th>
      <th>{{ 'gestionnaire.list.pays' | translate }}</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let g of filtergestionnaire()"  >
        <td>{{g.civilite}}</td>
        <td>{{g.nom}}</td>
        <td>{{g.prenom}}</td>
        <td>{{g.telephone}}</td>
        <td>{{g.utilisateur?.mail}}</td>
		<td>{{g.adresse?.voie}}</td>
      <td>{{g.adresse?.complement}}</td>
      <td>{{g.adresse?.codePostal}}</td>
      <td>{{g.adresse?.ville}}</td>
      <td>{{g.adresse?.pays}}</td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-info" (click)="edit(g.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="delete(g.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>

  <div class="card mt-2" *ngIf="gestionnaireForm">
    <div class="card-header">
      {{ 'gestionnaire.edition.titre' | translate }}

  </div>
    <div class="card-body">
      <label>Civilité :</label>
      <select [(ngModel)]="gestionnaireForm.civilite"  class="form-control" >
        <option *ngFor="let civ of civilites">{{civ}}</option>
      </select>
      <label>{{ 'gestionnaire.edition.nom' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.nom">
      <label>{{ 'gestionnaire.edition.prenom' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.prenom">
      <label>{{ 'gestionnaire.edition.telephone' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.telephone">
      <label>{{ 'gestionnaire.edition.mail' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.utilisateur.mail">
	    <label> {{ 'gestionnaire.edition.voie' | translate }}</label>
  <input type="text" class="form-control"   [(ngModel)]="gestionnaireForm.adresse.voie">
  <label> {{ 'gestionnaire.edition.complement' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.adresse.complement">
  <label> {{ 'gestionnaire.edition.codePostal' | translate }}</label>
  <input type="number" class="form-control" [(ngModel)]="gestionnaireForm.adresse.codePostal">
  <label> {{ 'gestionnaire.edition.ville' | translate }}</label>
  <input type="text" class="form-control"  [(ngModel)]="gestionnaireForm.adresse.ville">
  <label> {{ 'gestionnaire.edition.pays' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="gestionnaireForm.adresse.pays">
    </div>
    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="save()">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancel()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>
</div>
</div>
