 <div>
  <div class="card"  >
    <div  class="card-header" style = "text-align: center; font-size: x-large">
      <b>{{ 'formateur.page' | translate }}</b>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="form-inline">
          <label class="pr-3">{{ 'formateur.recherche' | translate }}</label>
          <input type="text" [(ngModel)]="search" class="form-control">
        </div>

<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <div class="form-inline">-->
<!--            <label class="pr-3">{{ 'formateur.rechercheFormateur' | translate }}</label>-->
<!--            <input type="text" [(ngModel)]="searchFormateur" class="form-control">-->
<!--          </div>-->


  <div class="card-body" >
    <table class="table" >
      <thead>
      <tr>
        <th>{{ 'formateur.civilite' | translate }}</th>
        <th>{{ 'formateur.nom' | translate }}</th>
        <th>{{ 'formateur.prenom' | translate }}</th>
        <th>{{ 'formateur.telephone' | translate }}</th>
        <th>{{ 'formateur.email' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formateur of filter()">
        <td *ngIf="formateur?.civilite == 'M'">{{ 'formateur.civilite.M' | translate }}</td>
        <td *ngIf="formateur?.civilite == 'MME'">{{ 'formateur.civilite.MME' | translate }}</td>
        <td *ngIf="formateur?.civilite == 'MLLE'">{{ 'formateur.civilite.MLLE' | translate }}</td>
        <td *ngIf="formateur?.civilite == 'NSP'">{{ 'formateur.civilite.NSP' | translate }}</td>
        <td><span>{{formateur?.nom}}</span></td>
        <td><span>{{formateur?.prenom}}</span></td>
        <td><span>{{formateur?.telephone}}</span></td>
        <td><span>{{formateur?.utilisateur?.mail}}</span></td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-warning text-white" (click)="edit(formateur.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="delete(formateur.id)"><i class="fas fa-trash"></i></button>
            <button class="btn btn-success" (click)="detail(formateur.id)"><i class="fas fa-search-plus"></i></button>
            <button *ngIf="hasAnyRole(['formateur','gestionnaire','administrateur'])" class="btn btn-primary" (click)="calendar(formateur.id)"><i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>
    </div>
  </div>
<div class="card mt-2" *ngIf="formateurForm">
  <div class="card-header">
    <b>{{ 'formateur.edit' | translate }} {{formateurForm.prenom}} {{formateurForm.nom}}</b>
  </div>
  <div class="card-body">
    <label>{{ 'formateur.form.civilite' | translate }}</label>
    <select [(ngModel)]="formateurForm.civilite" class="form-control">
      <option *ngFor="let civ of civilites">{{civ}}</option>
    </select>
    <label>{{ 'formateur.form.nom' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="formateurForm.nom">
    <label>{{ 'formateur.form.prenom' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="formateurForm.prenom">
    <label>{{ 'formateur.form.telephone' | translate }}</label>
    <input type="string" class="form-control" [(ngModel)]="formateurForm.telephone">
    <label>Courriel</label>
    <input type="string" class="form-control" [(ngModel)]="formateurForm.utilisateur.mail">
  </div>
  <div class="card-footer text-right">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>

   <div class="card mt-2" *ngIf="formateurDetail">
     <div class="card-body" style= "height: 50px;">
       <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelformateurDetail()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
     </div>
     <div class="card-deck mt-2">
       <div class="card">
         <div class = "card-header">
         <b>{{ 'formateur.allCompetences' | translate }}</b>
         </div>
     <div
       cdkDropList
       #allCompetencesList="cdkDropList"
       [cdkDropListData]="allCompetences"
       [cdkDropListConnectedTo]="[formateurCompetencesList]"
       class="example-list"
       (cdkDropListDropped)="drop($event)">
       <div class="example-box" [cdkDragData]="item" *ngFor="let item of allCompetences" cdkDrag>{{item.titre}}</div>
     </div>
         <div class="card-footer">
           <a routerLink = "/matiere"><button class="btn btn-info"><i class="fas fa-plus"></i></button></a>
         </div>
   </div>
   <div class="card">
     <div class = "card-header">
     <b>{{ 'formateur.competencesFormateur' | translate }} {{formateurDetail.prenom}} {{formateurDetail.nom}}</b>
     </div>
     <div
       cdkDropList
       #formateurCompetencesList="cdkDropList"
       [cdkDropListData]="formateurCompetences"
       [cdkDropListConnectedTo]="[allCompetencesList]"
       class="example-list"
       (cdkDropListDropped)="drop($event)">
       <div class="example-box"  [cdkDragData]="item" *ngFor="let item of formateurCompetences" cdkDrag>{{item.titre}}</div>
     </div>
     <div class="card-footer">
       <button class="btn btn-success" (click)="updateFormateur()"><i class="fas fa-save"></i></button>
     </div>
   </div>
    </div>
  </div>

<div *ngIf="formateurCalendar">
  <div  *ngIf="hasAnyRole(['formateur','gestionnaire','administrateur'])" class="card mt-2">
  <div class="card-header">
    <b>{{ 'formateur.calendrier' | translate }}</b>
    <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelformateurCalendar()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>

  <div class="card mt-2">
    <full-calendar
      *ngIf="options"
      #fullcalendar
      [editable]="true"
      [selectable]="true"
      [events]="events"
      [header]="options.header"
      (dateClick)="dateClick($event)"
      [customButtons]="options.customButtons"
      [plugins]="options.plugins"
      (dayRender)="dayRender($event)"
      (eventClick)="eventClick($event)"
      (select)="selectCalendar($event)"
      [columnHeaderHtml]="options.columnHeaderHtml"
      [selectOverlap]="options.selectOverlap"
    ></full-calendar>

    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="saveCalendar(formateurCalendar.id)">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancelCalendar()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>

  </div>
</div>
</div>


