<div class="card">
  <div class="card-header">
    <b>Demandes de formations :</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style = "text-align: center">
      <tr>
        <th>Formation</th>
        <th>Dates</th>
        <th>Nom entreprise</th>
        <th>Business Unit</th>
        <th>Nombre de places demandées</th>
        <th>Nombre de places validées</th>
        <th></th>
      </tr>
      </thead>
      <tbody style = "text-align: center">
      <tr *ngFor="let clientFormation of list()">
        <td>{{clientFormation.formation?.intitule}}</td>
        <td>{{clientFormation.formation?.dtDebut}} <hr> {{clientFormation.formation?.dtFin}}</td>
        <td>{{clientFormation.client?.nomEntreprise}}</td>
        <td>{{clientFormation.client?.nomBusinessUnit}}</td>
        <td>{{clientFormation.demandes}}</td>
        <td data-toggle="modal" data-target="#myModal" (click)="edit(clientFormation.id)">{{clientFormation.accordes}}</td>
        <td>
          <button class="btn btn-warning text-white" (click)="affichage(clientFormation.id)"><i class="fas fa-comment-dots"></i></button>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<div style="padding-top: 1cm">
  <div class="card mt-2"  *ngIf="commentaire">
    <div class="card-header">Commentaires :</div>
    <div class="card-body" style="display: flex; justify-content: space-between">
      <div class="element">{{commentaire.commentaires}}</div>
    </div>
  </div>
</div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nombre de places accordées</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngIf="placesvalidees">
          <label>Nombre de places accordées</label>
          <input type="text" class="form-control" [(ngModel)]="placesvalidees.accordes">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="btn-group ">
            <button class="btn btn-success" (click)="save()" data-dismiss="modal">
              <i class="far fa-check-square fa-2x"></i>
            </button>
            <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
              <i class="far fa-window-close fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

