<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'salle.titre' | translate }}</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'salle.code' | translate }}</th>
        <th>{{ 'salle.coutUtilisation' | translate }}</th>
        <th>{{ 'salle.placeMax' | translate }}</th>
        <th>{{ 'salle.lieu' | translate }}</th>
        <th>{{ 'salle.formation' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let salle of list()">
        <td>{{salle?.code}}</td>
        <td>{{salle?.coutUtilisation}}</td>
        <td>{{salle?.placeMax}}</td>
        <td>{{salle?.adresse.ville}}</td>
        <td ><span *ngFor="let mf of salle.materielFormation">{{mf.formation.intitule}}</span></td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModalView" (click)="view(salle.id)"><i class="fas fa-eye"></i></button>
            <button class="btn btn-warning text-white" data-toggle="modal" data-target="#myModal" (click)="edit(salle.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModalReserv" (click)="listReservationById(salle.id)"><i class="fas fa-calendar-plus"></i></button>
            <button class="btn btn-danger" (click)="delete(salle.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
      <button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header" >
            <h4 class="modal-title" style = "text-align: center">{{ 'salle.edition' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" *ngIf="salleForm">
      <label>{{ 'salle.code' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="salleForm.code">
      <label>{{ 'salle.coutUtilisation' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="salleForm.coutUtilisation">
      <label>{{ 'salle.placeMax' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="salleForm.placeMax">
      <label>{{ 'salle.lieu' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="salleForm.adresse.ville">
<!--      <label>{{ 'salle.formationIntitule' | translate }}</label>-->
<!--      <input *ngFor="let mf of salleForm.materielFormation" type="text" class="form-control" [(ngModel)]="mf.formation.intitule">-->
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="btn-group ">
              <button class="btn btn-success" (click)="save()" data-dismiss="modal">
                <i class="far fa-check-square fa-2x"></i>
              </button>
              <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
                <i class="far fa-window-close fa-2x"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModalView">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ 'salle.vue' | translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngIf="salleView" >
        <p>{{ 'salle.code' | translate }} : {{ salleView.code }}</p>
        <p>{{ 'salle.coutUtilisation' | translate }} : {{ salleView.coutUtilisation }}</p>
        <p>{{ 'salle.placeMax' | translate }} : {{ salleView.placeMax }}</p>
          <p>{{ 'salle.lieu' | translate }} : {{ salleView.adresse.ville }}</p>
          <p *ngFor="let date of salleView.materielFormation">{{ 'salle.materielFormationDate' | translate }} : {{date.dtDebut   | date : 'dd/MM/yyyy'}} - {{date.dtFin   | date : 'dd/MM/yyyy'}}</p>
          <p *ngFor="let mf of salleView.materielFormation">{{ 'salle.formation' | translate }} : {{mf.formation.intitule}}</p>
        </div>
      </div>
    </div>
  </div>

<div class="modal" id="myModalReserv">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style = "text-align: center">
        <h4 class="modal-title">{{ 'salle.reservation' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="salleResa">

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{ 'salle.materielFormationDtDebut' | translate }}</th>
              <th>{{ 'salle.materielFormationDtFin' | translate }}</th>
              <th>{{ 'salle.formation' | translate }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let mf of salleResa">
            <tr>
              <td><span>{{mf.dtDebut  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.dtFin  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.formation.intitule}}</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-info" data-toggle="modal" data-target="#myModalReservEdit" (click)="editResa(mf.id)"><i
                    class="fas fa-pen"></i></button>
                  <button class="btn btn-danger" (click)="deleteResa(mf.id)"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>

          <div *ngIf="materielFormationCalendar">
            <div>
              <div class="card-header" style = "text-align: center">
                <label>{{ 'salle.editionReservation' | translate }}</label>
              </div>
              <div class="card-body" >
                <label>{{ 'salle.materielFormationDtDebut' | translate }}</label>
                <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtDebut">
                <label>{{ 'salle.materielFormationDtFin' | translate }}</label>
                <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtFin">
                <label>{{ 'salle.formation' | translate }}</label>
                <p>
                  <select class="dropdown"[(ngModel)]="materielFormationCalendar.formation.id">
                    <option *ngFor="let formation of formations" [value] = "formation.id">{{formation.intitule}}</option>
                  </select>
                </p>
                <label>{{ 'salle.id' | translate }}</label>
                <input type="number" class="form-control"  [value]="salleId" readonly>

              </div>
            </div>

          </div>


        </div>
        <!-- Modal footer -->
        <div class="modal-footer">

          <div class="container">
            <button class="btn btn-info mr-2" (click)="addResa()"><i class="fas fa-plus"></i></button>
          </div>

          <div class="btn-group ">
            <button class="btn btn-success" (click)="save()" data-dismiss="modal">
              <i class="far fa-check-square fa-2x"></i>
            </button>
            <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
              <i class="far fa-window-close fa-2x"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
