<div class="card">
 <h1>Emargement</h1>
  <div style="padding-bottom: 20px; padding-top: 20px">
    {{date | date:'yyyy-MM-dd'}}
    <i style="padding-left: 10px"> <input value="{{presence.presenceMatin}}" type="checkbox" > matin </i>
    <i style="padding-left: 10px"> <input value="{{presence.presenceApresMidi}}" type="checkbox"> apres midi </i>
  </div>
  <div class="card-footer" align="right">
    <button class="btn btn-info" (click) = "validerSignature()"><i > valider signature</i></button>
  </div>

</div>
