<div class="card">
  <div class="card-header" style="text-align: center; font-size: x-large">
    <b>Liste des formations</b>
  </div>
  <div class="card-body">
    <table *ngIf="hasAnyRole(['administrateur','gestionnaire', 'client'])" class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'formation.intituleformation' | translate }}</th>
        <th>{{ 'formation.dtdebutformation' | translate }}</th>
        <th>{{ 'formation.dtfinformation' | translate }}</th>
        <th>{{ 'formation.ville' | translate }}</th>
        <th>{{ 'formation.referent' | translate }}</th>
        <th>{{ 'formation.statut' | translate }}</th>
        <th>{{ 'formation.capacite' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formation of list()">
        <td>{{formation?.intitule}}</td>
        <td>{{formation?.dtDebut   | date : 'dd/MM/yyyy'}}</td>
        <td>{{formation?.dtFin   | date : 'dd/MM/yyyy'}}</td>
        <td>{{formation?.ville}}</td>
        <td>{{formation?.formateurReferent?.nom}} {{formation.formateurReferent?.prenom}}</td>
        <td>{{formation?.statut}}</td>
        <td>{{formation?.capacite}}</td>

        <td align="right">
          <div class="btn-group btn-group-xs">

            <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-warning text-white"
                    (click)="edit(formation.id)"><i class="fas fa-pen"></i></button>
            <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-danger"
                    (click)="delete(formation.id)"><i class="fas fa-trash"></i></button>
            <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-success"
                    (click)="listClients(formation.id)"><i class="fas fa-user-tie"></i></button>
            <button *ngIf="hasAnyRole(['client'])" class="btn btn-info" (click)="afficherClientFormation = true"><i
              class="fas fa-plus"></i></button>
            <button *ngIf="hasAnyRole(['client'])" class="btn btn-success" (click)="view(formation.id)"><i
              class="fas fa-user-tie"></i></button>
            <button *ngIf="hasAnyRole(['client', 'administrateur', 'gestionnaire'])" class="btn btn-primary"
                    (click)="listModules(formation.id)"><i class="fas fa-book"></i></button>

            <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-dark dropdown fas fa-laptop " type="button" data-toggle="dropdown">
              <ul class="dropdown-menu" style="cursor:pointer; font-family: 'Yu Gothic'">
                <a class="dropdown-item nav-link" (click)="listVideoProjecteur(formation.id)">Vidéoprojecteurs</a>
                <a class="dropdown-item nav-link" (click)="listSalle(formation.id)">Salles</a>
                <a class="dropdown-item nav-link" (click)="listOrdinateur(formation.id)">Ordinateurs</a>
              </ul>
            </button>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-info" (click)="add()"><i
      class="fas fa-plus"></i></button>
  </div>
</div>
<div class="card mt-2" *ngIf="formationForm">
  <div class="card-header"><b>
    {{ 'formation.editionformation' | translate }}</b>
  </div>
  <div class="card-body">
    <label>{{ 'formation.intituleformation' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="formationForm.intitule">
    <label>Date de début :</label>
    <input type="Date" class="form-control" [(ngModel)]="formationForm.dtDebut">
    <label>Date de fin :</label>
    <input type="Date" class="form-control" [(ngModel)]="formationForm.dtFin">
    <label>Ville :</label>
    <input type="text" class="form-control" [(ngModel)]="formationForm.ville">

    <label>{{ 'formation.formateurReferent' | translate }}</label>
    <select [(ngModel)]="formationForm.formateurReferent.id" class="form-control">
      <option *ngFor="let formateur of filterformateurRef()" [value]="formateur.id"
              selected="no"> {{formateur.nom}} {{formateur.prenom}} </option>
    </select>

    <label>{{ 'formation.gestionnaire' | translate }}</label>
    <select [(ngModel)]="formationForm.gestionnaire.id" class="form-control">
      <option *ngFor="let gestionnaire of filterGestionnaireRef()" [value]="gestionnaire.id"
              selected="no"> {{gestionnaire.nom}} {{gestionnaire.prenom}} </option>
    </select>
    <br/>
    <label>{{ 'formation.capacite' | translate }}</label>
    <input type="number" class="form-control" [(ngModel)]="formationForm.capacite">

    <div class="card-deck mt-2" *ngIf="stagiaireForm">
      <div class="card">
        <div class="card-header">
          <b>Liste des stagiaires</b>
        </div>
        <div
          cdkDropList
          #allStagiairesList="cdkDropList"
          [cdkDropListData]="allStagiaires"
          [cdkDropListConnectedTo]="[formationStagiairesList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" [cdkDragData]="item" *ngFor="let item of allStagiaires"
               cdkDrag>{{item.prenom}} {{item.nom}}</div>
        </div>
        <div class="card-footer">
          <a routerLink="/stagiaire">
            <button class="btn btn-info"><i class="fas fa-plus"></i></button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <b>Stagiaires de la formation</b>
        </div>
        <div
          cdkDropList
          #formationStagiairesList="cdkDropList"
          [cdkDropListData]="formationStagiaires"
          [cdkDropListConnectedTo]="[allStagiairesList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" [cdkDragData]="item" *ngFor="let item of formationStagiaires"
               cdkDrag>{{item.prenom}} {{item.nom}}</div>
        </div>

      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>


<div class="card mt-2" *ngIf="clientList">
  <div class="container" style="display:flex; justify-content:flex-end">
<span class="element">
        <a class="text-danger" (click)="cancelclientList()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <app-client-formation></app-client-formation>
</div>


<div class="card mt-2" *ngIf="formationView">
  <div class="card-header">
    <b>Liste des contacts de la formation</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Type</th>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Courriel</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr>
        <td>Gestionnaire</td>
        <td>{{formationView.gestionnaire?.civilite}}</td>
        <td>{{formationView.gestionnaire?.nom}}</td>
        <td>{{formationView.gestionnaire?.prenom}}</td>
        <td>{{formationView.gestionnaire?.telephone}}</td>
        <td>{{formationView.gestionnaire?.utilisateur?.mail}}</td>
      </tr>
      <tr>
        <td>Formateur Référent</td>
        <td>{{formationView.formateurReferent?.civilite}}</td>
        <td>{{formationView.formateurReferent?.nom}}</td>
        <td>{{formationView.formateurReferent?.prenom}}</td>
        <td>{{formationView.formateurReferent?.telephone}}</td>
        <td>{{formationView.formateurReferent?.utilisateur?.mail}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <div class="card-footer"><button style=" margin-left: 1025px; z-index: 1000; position:relative" class="btn btn-danger" (click)="cancelView()"><i class="far fa-window-close"></i></button></div>
  </div>
</div>


<div class="card mt-2" *ngIf="moduleList">
  <div class="card-header" style="text-align: center; font-size: x-large">
    <b>{{ 'formation.listemodule' | translate }}</b>
    <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancel()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <div class="card-body">
    <div>
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>{{ 'formation.titremodule' | translate }}</th>
        <th>{{ 'formation.dureemodule' | translate }}</th>
        <th>{{ 'formation.dtdebutmodule' | translate }}</th>
        <th>{{ 'formation.dtdefinmodule' | translate }}</th>
        <th>{{ 'formation.formateurmodule' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let module of moduleList">
        <td>{{module.matiere?.titre}}</td>
        <td>{{module.matiere?.duree}}</td>
        <td>{{module.dtDebut}}</td>
        <td>{{module.dtFin}}</td>
        <td>{{module.formateur?.nom}} {{module.formateur?.prenom}}</td>
        <td>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-warning" (click)="editmodule(module.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="deletemodule(module.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    </div>
    </div>
    <div class="card-footer">
      <button *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="btn btn-info" (click)="addModule()"><i
        class="fas fa-plus"></i></button>
    </div>
</div>

<div class="card mt-2" *ngIf="moduleForm">
  <div *ngIf="hasAnyRole(['administrateur','gestionnaire'])">
    <div class="card-header">
      {{ 'formation.editionmodule' | translate }}
    </div>
    <div class="card-body">
      <label>{{ 'formation.titremodule' | translate }}</label>
      <select [(ngModel)]="moduleForm.matiere.id" class="form-control">
        <option *ngFor="let matiere of filtermatiere()" [value]="matiere.id"> {{matiere.titre}}</option>
      </select>
      <label>{{ 'formation.intituleformation' | translate }}</label>
      <select [(ngModel)]="moduleForm.formation.id" class="form-control">
        <option *ngFor="let formation of list()" [value]="formation.id">{{formation.intitule}}</option>
      </select>
      <label>{{ 'formation.dureemodule' | translate }}</label>
      <input type="number" class="form-control" [(ngModel)]="moduleForm.duree">
      <label>{{ 'formation.dtdebutmodule' | translate }}</label>
      <input type="Date" class="form-control" [(ngModel)]="moduleForm.dtDebut">
      <label>{{ 'formation.dtdefinmodule' | translate }}</label>
      <input type="Date" class="form-control" [(ngModel)]="moduleForm.dtFin">
      <label>{{ 'formation.formateurmodule' | translate }}</label>
      <select [(ngModel)]="moduleForm.formateur.id" class="form-control">
        <option *ngFor="let formateur of filterformateur()"
                [value]="formateur.id">{{formateur.nom}} {{formateur.prenom}}</option>
      </select>
    </div>
    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="savemodule()">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancelmodule()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2" *ngIf="materielListVideoprojecteur">
  <div class="card-header">
    <b>Liste des vidéoprojecteurs :</b>
    <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelMaterielListVideoprojecteur()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Code</th>
        <th>HDMI</th>
        <th>VGA</th>
        <th>Résolution</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let materiel of materielListVideoprojecteur">

        <td>{{materiel.code}}</td>
        <td>{{materiel.hdmi}}</td>
        <td>{{materiel.vga}}</td>
        <td>{{materiel.resolution}}</td>

        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-2" *ngIf="materielListSalle">
  <div class="card-header">
    <b>Liste des Salles :</b>
    <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelmaterielListSalle()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Code</th>
        <th>Ville</th>
        <th>Capacité</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let materiel of materielListSalle">
        <td>{{materiel.code}}</td>
        <td>{{materiel.ville}}</td>
        <td>{{materiel.placeMax}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-2" *ngIf="materielListOrdinateur">
  <div class="card-header">
    <b>Liste des Ordinateurs :</b>
    <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelmaterielListOrdinateur()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Code</th>
        <th>Processeur</th>
        <th>RAM</th>
        <th>Espace Libre sur le Disque Dur</th>
        <th>Date d'achat</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let materiel of materielListOrdinateur">
        <td>{{materiel.code}}</td>
        <td>{{materiel.processeur}}</td>
        <td>{{materiel.ram}}</td>
        <td>{{materiel.quantiteDD}}</td>
        <td>{{materiel.dtAchat}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="afficherClientFormation">
  <app-client-formation></app-client-formation>
  <!--      <button style="margin-top: -92px; margin-left: 950px; z-index: 1000; position:relative" class="btn btn-danger" (click)="afficherClientFormation = false"><i class="far fa-window-close"></i></button>-->
</div>
