<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>Liste des utilisateurs</b>
  </div>
  <div class="card">
    <div class="card-header">
    <div class="form-inline">
      <label class="pr-3">{{ 'utilisateur.recherche' | translate }}</label>
      <input type="text" [(ngModel)]="search" class="form-control">
    </div>
  </div>
      <div class="card-body table-wrap">
        <table id="formationEnCoursStagiaireTab" class="table table-striped">
          <thead>
          <tr>
            <th>{{ 'utilisateur.list.identifiant' | translate }}</th>
            <th>{{ 'utilisateur.list.typeUser' | translate }}</th>
            <th>{{ 'utilisateur.list.mail' | translate }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let utilisateur of filter()">
            <td>{{utilisateur.id}}</td>
            <td>{{utilisateur.typeUser}}</td>
            <td>{{utilisateur.mail}}</td>
            <td align="right"><div class="btn-group btn-group-xs">
              <button class="btn btn-warning text-white" (click)="edit(utilisateur.id)"> <i class="fas fa-edit"></i></button>
              <button class="btn btn-danger text-white" (click)="delete(utilisateur.id)"> <i class="fas fa-trash"></i></button>
          </div></td>
          </tr>
          </tbody>
        </table>
      </div>


      <div style="padding-left:1cm" class="card-footer bg-white">
        <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
      </div>
    </div>

    <div class="card mt-2" *ngIf="selectedUtilisateur">
      <div class="card-header">{{ 'utilisateur.edition.titre' | translate }}</div>

      <div class="card-body">
        <label>{{ 'utilisateur.edition.typeUser' | translate }} :</label>
        <select class="form-control" [(ngModel)]="selectedUtilisateur.typeUser">
          <option *ngFor="let type of types">{{type}}</option>
        </select>
        <label>{{ 'utilisateur.edition.motDePasse' | translate }} :</label>
        <input type="password" class="form-control" [(ngModel)]="selectedUtilisateur.motDePasse">
        <label>{{ 'utilisateur.edition.mail' | translate }} :</label>
        <input type="text" class="form-control" [(ngModel)]="selectedUtilisateur.mail">
<!--        <div *ngIf="selectedUtilisateur.typeUser == 'Administrateur'">-->
<!--          <label>{{ 'utilisateur.edition.administrateur' | translate }} :</label>-->
<!--          <select class="form-control">-->
<!--            <option *ngFor="let admin of administrateurs">{{admin.nom}}</option>-->
<!--          </select>-->
<!--        </div>-->


      </div>
      <div class="card-footer text-right">
        <div class="btn-group ">
          <button class="btn btn-success" (click)="save()">
            <i class="far fa-check-square fa-2x"></i>
          </button>
          <button class="btn btn-warning text-white" (click)="cancel()">
            <i class="far fa-window-close fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
