<div class="card-header jumbotron jumbotron-fluid">
  <h1 id="homeTitle">{{ 'home.titre' | translate }}</h1>
  <p id="homeSubtitle">{{ 'home.description' | translate }}</p>

<div class="text-center">
<form class="form-signin">
  <h1 class="font-weight-light" style="padding-bottom: 100px;">Réinitialisation
    du mot de passe</h1>
  <label for="inputPassword" class="sr-only">Mot de passe actuel</label>
  <input type="password" id="oldPassword" class="form-control"
         placeholder="Mot de passe actuel" required autofocus> <label
  for="inputPassword" class="sr-only">Nouveau mot de passe</label> <input
  type="password" id="inputPassword1" class="form-control"
  placeholder="Nouveau mot de passe" required> <label
  for="inputPassword" class="sr-only">Confirmation du nouveau mot de passe</label> <input
  type="password" id="inputPassword" class="form-control"
  placeholder="Confirmation du nouveau mot de passe" required>

  <p routerLinkActive="active"><input type ="button" [routerLink]="['/moncompte']"class="btn btn-lg btn-primary btn-block" value="Réinitialiser le mot de passe">
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
</div>
</div>
