<header class="mb-3">
  <!--  nav barre admin-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="hasAnyRole(['administrateur'])">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/home']" class="nav-link">Accueil</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/moncompte']" class="nav-link">Mon Compte</a></li>
      <li  class="nav-item dropdown" style="cursor: pointer"> <a class="nav-link dropdown-toggle" data-toggle="dropdown">Utilisateur</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/administrateur']" class="nav-link" style="color: black">Administrateur</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/client']" class="nav-link" style="color: black">Client</a>
          <a class="dropdown-item nav-link" routerLinkActive="active"  [routerLink]="['/formateur']" class="nav-link" style="color: black">Formateur</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/gestionnaire']" class="nav-link" style="color: black">Gestionnaire</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/stagiaire']" class="nav-link" style="color: black">Stagiaire</a>
          <a class="dropdown-item nav-link" routerLinkActive="active"  [routerLink]="['/utilisateur']" class="nav-link" style="color: black">Utilisateur</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/formation']" class="nav-link">Formation</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/matiere']" class="nav-link">Matiere</a></li>
      <li class="nav-item dropdown" style="cursor: pointer"> <a class="nav-link dropdown-toggle" data-toggle="dropdown">Matériel</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/salle']" style="color: black" >Salles</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/ordinateur']"  style="color: black">Ordinateurs</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/videoprojecteur']" style="color: black">Vidéoprojecteurs</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn" (click)="useLanguage('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
                                                                                style="width:24px;height:16px"/></button></li>
      <li class="nav-item"><button class="btn" (click)="useLanguage('fr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
                                                                                style="width:24px;height:16px"/></button></li>
    </ul>
    <!--  nav barre gestionnaire-->
  </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="hasAnyRole(['gestionnaire'])">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/home']" class="nav-link">Accueil</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/moncompte']" class="nav-link">Mon Compte</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/formation']" class="nav-link">Formation</a></li>
      <li  class="nav-item" routerLinkActive="active"><a [routerLink]="['/formateur']" class="nav-link">Formateur</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/stagiaire']" class="nav-link">Stagiaire</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/client']" class="nav-link">Client</a></li>
      <

      <li class="nav-item dropdown" style="cursor: pointer"> <a class="nav-link dropdown-toggle" data-toggle="dropdown">Matériel</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/salle']" style="color: black" >Salles</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/ordinateur']"  style="color: black">Ordinateurs</a>
          <a class="dropdown-item nav-link" routerLinkActive="active" [routerLink]="['/videoprojecteur']" style="color: black">Vidéoprojecteurs</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn" (click)="useLanguage('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
                                                                                style="width:24px;height:16px"/></button></li>
      <li class="nav-item"><button class="btn" (click)="useLanguage('fr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
                                                                                style="width:24px;height:16px"/></button></li>
    </ul>
    <!--  nav barre stagiaire-->
  </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="hasAnyRole(['stagiaire'])">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/home']" class="nav-link">Accueil</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/moncompte']" class="nav-link">Mon Compte</a></li>

      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/stagiaire-formation']" class="nav-link">Formation</a></li>

      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/presence']" class="nav-link">Presences</a></li>
      <li class="nav-item" ><a [routerLink]="[]" class="nav-link">Evaluation</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn" (click)="useLanguage('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
                                                                                style="width:24px;height:16px"/></button></li>
      <li class="nav-item"><button class="btn" (click)="useLanguage('fr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
                                                                                style="width:24px;height:16px"/></button></li>
    </ul>
    <!--  nav barre client-->
  </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="hasAnyRole(['client'])">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/home']" class="nav-link">Accueil</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/moncompte']" class="nav-link">Mon Compte</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/formation']" class="nav-link">Formation</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/stagiaire']" class="nav-link">Stagiaire</a></li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn" (click)="useLanguage('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
                                                                                style="width:24px;height:16px"/></button></li>
      <li class="nav-item"><button class="btn" (click)="useLanguage('fr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
                                                                                style="width:24px;height:16px"/></button></li>
    </ul>
    <!-- nav barre formateur-->
  </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="hasAnyRole(['formateur'])">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/home']" class="nav-link">Accueil</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/moncompte']" class="nav-link">Mon Compte</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/disponibilite']" class="nav-link">Disponibilite</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/matiere']" class="nav-link">Matiere</a></li>
      <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/presence']" class="nav-link">Presences</a></li>
      <li class="nav-item" ><a [routerLink]="[]" class="nav-link">Evaluation</a></li>
      <li class="nav-item" ><a [routerLink]="[]" class="nav-link">Notification</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn" (click)="useLanguage('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
                                                                                style="width:24px;height:16px"/></button></li>
      <li class="nav-item"><button class="btn" (click)="useLanguage('fr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" style="width:24px;height:16px"/></button></li>
    </ul>
  </nav>
</header>

<div class="container-fluid" style="width: 75%" >
  <router-outlet></router-outlet>
</div>
