<div class="card">
  <div class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'ordinateur.titre' | translate }}</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'ordinateur.code' | translate }}</th>
        <th>{{ 'ordinateur.coutUtilisation' | translate }}</th>
        <th>{{ 'ordinateur.processeur' | translate }}</th>
        <th>{{ 'ordinateur.ram' | translate }}</th>
        <th>{{ 'ordinateur.quantiteDD' | translate }}</th>
        <th>{{ 'ordinateur.dtAchat' | translate }}</th>
        <th>{{ 'ordinateur.stagiaire' | translate }}</th>
        <th>{{ 'ordinateur.formationIntitule' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ordinateur of list()">
        <td>{{ordinateur?.code}}</td>
        <td>{{ordinateur?.coutUtilisation}}</td>
        <td>{{ordinateur?.processeur}}</td>
        <td>{{ordinateur?.ram}}</td>
        <td>{{ordinateur?.quantiteDD}}</td>
        <td>{{ordinateur?.dtAchat  | date : 'dd/MM/yyyy'}}</td>
        <td ><span *ngFor="let mf of ordinateur.materielFormation"><span *ngFor=" let sf of mf.formation.stagiairesFormations">{{sf.stagiaire.nom}}  {{sf.stagiaire.prenom}}</span></span></td>
        <td> <span *ngFor="let mf of ordinateur.materielFormation">{{mf.formation.intitule}}</span></td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModalView" (click)="view(ordinateur.id)"><i class="fas fa-eye"></i></button>
            <button class="btn btn-warning text-white" data-toggle="modal" data-target="#myModal" (click)="edit(ordinateur.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModalReserv" (click)="listReservationById(ordinateur.id)"><i class="fas fa-calendar-plus"></i></button>
            <button class="btn btn-danger" (click)="delete(ordinateur.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
      <button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="add()"><i class="fas fa-plus"></i></button>

    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ 'ordinateur.edition' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
  <div class="modal-body" *ngIf="ordinateurForm">
    <label>{{ 'ordinateur.code' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="ordinateurForm.code">
    <label>{{ 'ordinateur.coutUtilisation' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="ordinateurForm.coutUtilisation">
    <label>{{ 'ordinateur.processeur' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="ordinateurForm.processeur">
    <label>{{ 'ordinateur.ram' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="ordinateurForm.ram">
    <label>{{ 'ordinateur.quantiteDD' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="ordinateurForm.quantiteDD">
    <label>{{ 'ordinateur.dtAchat' | translate }}</label>
    <input type="date" class="form-control" [(ngModel)]="ordinateurForm.dtAchat">
<!--    <label>{{ 'ordinateur.disponibilite' | translate }}</label>-->
<!--    <input *ngFor="let date of ordinateurForm.materielFormation" type="date" class="form-control" [(ngModel)]="date.dtDebut">-->
<!--    <label>{{ 'ordinateur.formationIntitule' | translate }}</label>-->
<!--    <select  type="text" class="form-control" >-->
<!--      <option *ngFor="let formation of formations" [value]="formation.id" >{{formation.intitule}}</option>-->
<!--    </select>-->
  </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="btn-group ">
              <button class="btn btn-success" (click)="save()" data-dismiss="modal">
                <i class="far fa-check-square fa-2x"></i>
              </button>
              <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
                <i class="far fa-window-close fa-2x"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- The Modal -->
      <div class="modal" id="myModalView">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ 'ordinateur.vue' | translate }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="ordinateurView">
      <p>{{ 'ordinateur.code' | translate }} : {{ ordinateurView.code }}</p>
      <p>{{ 'ordinateur.coutUtilisation' | translate }} : {{ ordinateurView.coutUtilisation }}</p>
      <p>{{ 'ordinateur.processeur' | translate }} : {{ ordinateurView.processeur }}</p>
      <p>{{ 'ordinateur.ram' | translate }} : {{ ordinateurView.ram }}</p>
      <p>{{ 'ordinateur.quantiteDD' | translate }} : {{ ordinateurView.quantiteDD }}</p>
      <p>{{ 'ordinateur.dtAchat' | translate }} : {{ ordinateurView.dtAchat  | date : 'dd/MM/yyyy' }}</p>
<!--      <p *ngFor="let date of salleView.materielFormation">{{date.dtDebut}} - {{date.dtFin}}</p>-->
      <p *ngFor="let mf of ordinateurView.materielFormation">{{ 'ordinateur.formation' | translate }} : {{mf.formation.intitule}}</p>
      </div>
     </div>
  </div>
</div>



<div class="modal" id="myModalReserv">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ 'ordinateur.reservation' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="ordinateurResa">

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{ 'ordinateur.materielFormationDtDebut' | translate }}</th>
              <th>{{ 'ordinateur.materielFormationDtFin' | translate }}</th>
              <th>{{ 'ordinateur.formationIntitule' | translate }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let mf of ordinateurResa">
            <tr>
              <td><span>{{mf.dtDebut  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.dtFin  | date : 'dd/MM/yyyy'}}</span></td>
              <td><span>{{mf.formation.intitule}}</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-info" data-toggle="modal" data-target="#myModalReservEdit" (click)="editResa(mf.id)"><i
                    class="fas fa-pen"></i></button>
                  <button class="btn btn-danger" (click)="deleteResa(mf.id)"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>

          <div *ngIf="materielFormationCalendar">
            <div>
              <div class="card-header">
                <label>{{ 'ordinateur.editionReservation' | translate }}</label>
              </div>
              <div class="card-body" >
                <label>{{ 'ordinateur.materielFormationDtDebut' | translate }}</label>
                <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtDebut">
                <label>{{ 'ordinateur.materielFormationDtFin' | translate }}</label>
                <input type="date" class="form-control" [(ngModel)]="materielFormationCalendar.dtFin">
                <label>{{ 'ordinateur.formationIntitule' | translate }}</label>
                <p>
                  <select class="dropdown" [(ngModel)]="materielFormationCalendar.formation.id">
                    <option *ngFor="let formation of formations" [value] = "formation.id">{{formation.intitule}}</option>
                  </select>
                </p>
                <label>{{ 'ordinateur.id' | translate }}</label>
                <input type="number" class="form-control"  [value]="ordinateurId" readonly>

              </div>
            </div>

          </div>


        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="container">
            <button class="btn btn-info mr-2" (click)="addResa()"><i class="fas fa-plus"></i></button>
          </div>


          <div class="btn-group ">
            <button class="btn btn-success" (click)="save()" data-dismiss="modal">
              <i class="far fa-check-square fa-2x"></i>
            </button>
            <button class="btn btn-danger" (click)="cancel()" data-dismiss="modal">
              <i class="far fa-window-close fa-2x"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
