.jumbotron-fluid {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

