<div id="conteneur" class="jumbotron jumbotron-fluid" >
  <h1 class="element, display-4"><b>{{ 'home.bienvenue' | translate }} {{getLogin()}}</b></h1>
  <hr>
  <p class="element, lead">{{ 'home.description' | translate }}</p>
  <img class="element" src="assets/img/lafactory .png" alt="logo" style="width : 300px;">
  <hr class="my-4">
  <div class="form-group">
  <button class="element, btn btn-primary pull-right" type="button" (click)="logout()" >{{ 'home.deconnection' | translate }}</button>
</div>
  <app-gestionnaire-formation *ngIf="hasAnyRole('gestionnaire')"></app-gestionnaire-formation>
</div>

