<div class="card">
  <div class="card-header">
    <b>Mes Formations</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Ville</th>
        <th>Référent</th>
        <th>Capacité</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stagiaireFormation of formationList">
        <td>{{stagiaireFormation.intitule}}</td>
        <td>{{stagiaireFormation.dtDebut}}</td>
        <td>{{stagiaireFormation.dtFin}}</td>
        <td>{{stagiaireFormation.ville}}</td>
        <td>{{stagiaireFormation.formateurReferent?.nom}} {{stagiaireFormation.formateurReferent?.prenom}}</td>
        <td>{{stagiaireFormation.capacite}}</td>
        <td>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-primary" (click)="listModules(stagiaireFormation.id)"><i
              class="fas fa-book"></i></button>
            <button class="btn btn-success" (click)="listFormateurs(stagiaireFormation.id)"><i
              class="fas fa-user-tie"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-2" *ngIf="moduleList">
  <div class="card-header">
    <b>Liste des modules</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Titre</th>
        <th>Durée</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Formateur</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let module of moduleList">
        <td>{{module.matiere?.titre}}</td>
        <td>{{module.matiere?.duree}}</td>
        <td>{{module.dtDebut}}</td>
        <td>{{module.dtFin}}</td>
        <td>{{module.formateur?.nom}} {{module.formateur?.prenom}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-2" *ngIf="formateurList">
  <div class="card-header">
    <b>Liste des formateurs</b>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead style="text-align: center">
      <tr>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Courriel</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let formateur of formateurList">
        <td *ngIf="formateur.civilite == 'M'">{{ 'formateur.civilite.M' | translate }}</td>
        <td *ngIf="formateur.civilite == 'MME'">{{ 'formateur.civilite.MME' | translate }}</td>
        <td *ngIf="formateur.civilite == 'MLLE'">{{ 'formateur.civilite.MLLE' | translate }}</td>
        <td *ngIf="formateur.civilite == 'NSP'">{{ 'formateur.civilite.NSP' | translate }}</td>
        <td>{{formateur.nom}}</td>
        <td>{{formateur.prenom}}</td>
        <td>{{formateur.telephone}}</td>
        <td>{{formateur.courriel}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
