<div *ngIf="hasAnyRole(['administrateur','gestionnaire'])" class="card">
  <div class="card-header" style = "text-align: center; font-size: x-large">
    <b>Liste des clients</b>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'client.nomEntreprise' | translate }}</th>
        <th>{{ 'client.businessUnit' | translate }}</th>
        <th>{{ 'client.numeroSiret' | translate }}</th>
        <th>{{ 'client.typeEntreprise' | translate }}</th>
        <th>{{ 'client.numTva' | translate }}</th>
        <th>{{ 'client.voie' | translate }}</th>
        <th>{{ 'client.complement' | translate }}</th>
        <th>{{ 'client.codePostal' | translate }}</th>
        <th>{{ 'client.ville' | translate }}</th>
        <th>{{ 'client.pays' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of filter()">
        <td>{{client.nomEntreprise}}</td>
        <td>{{client.nomBusinessUnit}}</td>
        <td>{{client.numeroSiret}}</td>
        <td>{{client.typeEntreprise}}</td>
        <td>{{client.numTva}}</td>
        <td>{{client.adresse?.voie}}</td>
        <td>{{client.adresse?.complement}}</td>
        <td>{{client.adresse?.codePostal}}</td>
        <td>{{client.adresse?.ville}}</td>
        <td>{{client.adresse?.pays}}</td>
        <td align="right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-warning text-white" (click)="edit(client.id)"><i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-danger text-white" (click)="delete(client.id)"><i class="fas fa-trash"></i>
            </button>
            <button class="btn btn-primary text-white" (click)="clientContact(client.id)"><i
              class="fas fa-address-card"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div style="padding-left:1cm" class="card-footer bg-white">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>

<div *ngIf="hasAnyRole(['administrateur','gestionnaire'])">
  <div class="card mt-2" *ngIf="selectedClient">
    <div class="card-header">{{ 'client.edition' | translate }}</div>

    <div class="card-body">
      <label>{{ 'client.nomEntreprise' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.nomEntreprise">
      <label>{{ 'client.businessUnit' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.nomBusinessUnit">
      <label>{{ 'client.numeroSiret' | translate }} :</label>
      <input type="number" class="form-control" [(ngModel)]="selectedClient.numeroSiret">
      <label>{{ 'client.typeEntreprise' | translate }} :</label>
      <select class="form-control" [(ngModel)]="selectedClient.typeEntreprise">
        <option *ngFor="let type of types">{{type}}</option>
      </select>
      <label>{{ 'client.numeroTva' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.numTva">
      <label>{{ 'client.voie' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.adresse.voie">
      <label>{{ 'client.complement' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.adresse.complement">
      <label>{{ 'client.codePostal' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.adresse.codePostal">
      <label>{{ 'client.ville' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.adresse.ville">
      <label>{{ 'client.pays' | translate }} :</label>
      <input type="text" class="form-control" [(ngModel)]="selectedClient.adresse.pays">
    </div>
    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="save()">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancel()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hasAnyRole(['administrateur','gestionnaire'])">
  <div class="card mt-2" *ngIf="selectedClientContact">
    <div class="card-header">{{ 'client.contact.titre' | translate }}
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelContact()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
    </div>

    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
          <tr>
            <!--          <th>Id</th>-->
            <th>{{ 'contact.list.civilite' | translate }}</th>
            <th>{{ 'contact.list.nom' | translate }}</th>
            <th>{{ 'contact.list.prenom' | translate }}</th>
            <th>{{ 'contact.list.telephone' | translate }}</th>
            <th>{{ 'contact.list.mail' | translate }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contact of selectedClientContact">
            <!--          <td>{{contact.id}}</td>-->
<!--            <select [(ngModel)]="contact.civilite" class="form-control">-->
<!--              <option value="M">{{ 'contact.monsieur' | translate }}</option>-->
<!--              <option value="MME">{{ 'contact.madame' | translate }}</option>-->
<!--              <option value="MLLE">{{ 'contact.mademoiselle' | translate }}</option>-->
<!--              <option value="NSP">{{ 'contact.nsp' | translate }}</option>-->
<!--            </select>-->

<!--            <td><span (keyup)="changeValue(contact.id, 'nom', $event)" (blur)="updateList(contact, 'nom', $event)"-->
<!--                      contenteditable="true">{{contact.nom}}</span></td>-->
<!--            <td><span (keyup)="changeValue(contact.id, 'prenom', $event)" (blur)="updateList(contact, 'prenom', $event)"-->
<!--                      contenteditable="true">{{contact.prenom}}</span></td>-->
<!--            <td><span (keyup)="changeValue(contact.id, 'telephone', $event)"-->
<!--                      (blur)="updateList(contact, 'telephone', $event)"-->
<!--                      contenteditable="true">{{contact.telephone}}</span></td>-->
<!--            <td><span (keyup)="changeValue(contact.id, 'mail', $event)"-->
<!--                      (blur)="updateList(contact, 'mail', $event)"-->
<!--                      contenteditable="true">{{contact.mail}}</span></td>-->
            <td>{{contact.civilite}}</td>
            <td>{{contact.nom}}</td>
            <td>{{contact.prenom}}</td>
            <td>{{contact.telephone}}</td>
            <td>{{contact.utilisateur?.mail}}</td>
            <td>
              <div class="btn-group btn-group-xs">
              <button class="btn btn-sm btn-primary text-white" (click)="editContact(contact.id)"><i
                class="fas fa-pen"></i></button>
                <button class="btn btn-sm btn-danger text-white" (click)="deleteContact(contact.id)"><i
                  class="fas fa-trash"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <!--    <span *ngFor="let contact of selectedClientContact.contacts">-->
        <!--    {{contact.nom}}-->
        <!--      </span>-->
      </div>
      <div>
        <button class="btn btn-success" (click)="addContact()">
          <i class="fas fa-plus-square fa-2x"></i>
        </button></div>
    </div>

    <div class="card mt-2" *ngIf="contactForm">
    <div class="card-header">
     edition du contact

    </div>
    <div class="card-body">
      <label>Civilité :</label>
      <select [(ngModel)]="contactForm.civilite"  class="form-control" >
        <option *ngFor="let civ of civilites">{{civ}}</option>
      </select>
      <label>{{ 'gestionnaire.edition.nom' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="contactForm.nom">
      <label>{{ 'gestionnaire.edition.prenom' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="contactForm.prenom">
      <label>{{ 'gestionnaire.edition.telephone' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="contactForm.telephone">
      <label>{{ 'gestionnaire.edition.mail' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="contactForm.utilisateur.mail">
      <label> {{ 'gestionnaire.edition.voie' | translate }}</label>

    </div>
    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="saveContact(contactForm)">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancel()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>
  </div>

<!--    <div style="padding-left:1cm" class="card-footer bg-white">-->
<!--      <button class="btn btn-primary" (click)="addContact()"><i class="fas fa-plus-square fa-2x"></i></button>-->
<!--    </div>-->
<!--  </div>-->
</div>




