<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'matiere.page' | translate }}</b>
  </div>
  <div  class="card-body" >
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'matiere.titre' | translate }}</th>
        <th>{{ 'matiere.duree' | translate }}</th>
        <th>{{ 'matiere.objectifs' | translate }}</th>
        <th>{{ 'matiere.prerequis' | translate }}</th>
        <th>{{ 'matiere.contenu' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="hasAnyRole(['administrateur'])">
      <tr *ngFor="let matiere of list()">
        <td>{{matiere.titre}}</td>
        <td>{{matiere.duree}}</td>
        <td>{{matiere.objectifs}}</td>
        <td>{{matiere.prerequis}}</td>
        <td>{{matiere.contenu}}</td>

        <td align="right">

          <div class="btn-group btn-group-xs" >
            <button *ngIf="hasAnyRole(['administrateur'])" class="btn btn-warning text-white"  (click)="edit(matiere.id)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" *ngIf="hasAnyRole(['administrateur', 'formateur'])" (click)="delete(matiere.id)"><i class="fas fa-trash"></i></button>

<!--            <button class="btn btn-success" (click)="detail(matiere.id)"><i class="fas fa-user-tie"></i></button>-->
            <button class="btn btn-success" *ngIf="hasAnyRole(['administrateur'])" (click)="listFormateur(matiere.id)"><i class="fas fa-user-tie"></i></button>
          </div>
        </td>
      </tr>
      </tbody>

      <tbody *ngIf="hasAnyRole(['formateur'])">
      <tr *ngFor="let matiere of matiereList">
        <td>{{matiere.titre}}</td>
        <td>{{matiere.duree}}</td>
        <td>{{matiere.objectifs}}</td>
        <td>{{matiere.prerequis}}</td>
        <td>{{matiere.contenu}}</td>
        <td align="right">


          <div class="btn-group btn-group-xs" >
            <button class="btn btn-success" (click)="formateurComponent.detail(getIdUser())"><i class="fas fa-search-plus"></i></button>
            <button class="btn btn-danger"  (click)="delete(matiere.id)"><i class="fas fa-trash"></i></button>

            <!--            <button class="btn btn-success" (click)="detail(matiere.id)"><i class="fas fa-user-tie"></i></button>-->
            <button class="btn btn-success" *ngIf="hasAnyRole(['administrateur'])" (click)="listFormateur(matiere.id)"><i class="fas fa-user-tie"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" *ngIf="hasAnyRole(['administrateur'])">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>




<div class="card mt-2" *ngIf="matiereForm">
  <div class="card-header" *ngIf="hasAnyRole(['administrateur', 'formateur'])">
    {{ 'matiere.create' | translate }}
  </div>
  <div class="card-body">
    <label>{{ 'matiere.form.titre' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="matiereForm.titre">
    <label>{{ 'matiere.form.duree' | translate }}</label>
    <input type="number" class="form-control" [(ngModel)]="matiereForm.duree">
    <label>{{ 'matiere.form.objectifs' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="matiereForm.objectifs">
    <label>{{ 'matiere.form.prerequis' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="matiereForm.prerequis">
    <label>{{ 'matiere.form.contenu' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="matiereForm.contenu">
  </div>
  <div class="card-footer text-right" *ngIf="hasAnyRole(['administrateur'])">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>



<div class="card mt-2" *ngIf="formateurList" >
  <div class="card-header" *ngIf="hasAnyRole(['administrateur'])">
    <div class="card-body" style= "height: 50px;">
       <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelformateurlist()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
  </div>
  <div class="card-body" >
    <table class="table">
      <thead>
      <tr>
        <th>Civilité : </th>
        <th>Nom : </th>
        <th>Prénom : </th>
        <th>Téléphone :</th>
        <th>Adresse courriel :</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formateur of formateurList">
        <td *ngIf="formateur.civilite == 'M'">{{ 'formateur.civilite.M' | translate }}</td>
        <td *ngIf="formateur.civilite == 'MME'">{{ 'formateur.civilite.MME' | translate }}</td>
        <td *ngIf="formateur.civilite == 'MLLE'">{{ 'formateur.civilite.MLLE' | translate }}</td>
        <td *ngIf="formateur.civilite == 'NSP'">{{ 'formateur.civilite.NSP' | translate }}</td>
        <td>{{formateur.nom}}</td>
        <td>{{formateur.prenom}}</td>
        <td>{{formateur.telephone}}</td>
        <td>{{ 'formateur.email' | translate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div >
<formateur></formateur>
</div>
</div>
