<div class="card">
  <div class="card-header bg-primary text-white">
    <h1>Ma Formation</h1>
  </div>
  <!-- <div class="card-header bg-white"style="padding-bottom:2cm">
  </div> -->
  <div class="card-header light">
    <h2 style="font-weight: lighter">Synthèse de la formation</h2>
  </div>
  <div class="card-body table-wrap">
    <table id="formationEnCoursModulesTab" class="table table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Nombre de stagiaires</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sopra-Steria Bordeaux</td>
          <td>12</td>
          <td><a href="#"	class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
          </a>&nbsp;<a href="#"class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
          </a></td>
        </tr>
        <tr>
          <td>CGI Bordeaux</td>
          <td>8</td>
          <td><a href="#"	class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
          </a>&nbsp;<a href="#"class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
          </a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer bg-white" align="center">
      <div class="form-group">
        <select class="form-control" id="modules" name="modules">
          <option>CGI Bordeaux</option>
          <option>Sopra-Steria Toulouse</option>
          <option>Cap Gemini</option>
        </select>
      </div>
      <div class="form-group">
          <label for="nbStagiaires">Nombre de stagiaires:</label> <input type="number" class="form-control" id="nbStagiaires" name="nbStagiaires" required>
          <span class="text-danger"></span>
      </div>
    <br>
    <button type="button" class="btn btn-primary"> Ajouter Client
      </button>
  </div>
  <div class="card-footer bg-white">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <i
      class="fas fa-plus-square fa-2x"></i>
      </button>
  </div>
</div>


<a href="#demo" data-toggle="collapse">Collapsible</a>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>
