<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'administrateur.titre' | translate }}</b>
  </div>
<div class="card">
  <div class="card-header">
    <div class="form-inline">
      <label class="pr-3">{{ 'administrateur.Recherche' | translate }}</label>
      <input type="text" [(ngModel)]="search" class="form-control">
  </div>

  <div class="card-body">
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'administrateur.list.Civilite' | translate }}</th>
      <th>{{ 'administrateur.list.Nom' | translate }}</th>
      <th>{{ 'administrateur.list.Prenom' | translate }}</th>
      <th>{{ 'administrateur.list.Telephone' | translate }}</th>
      <th>{{ 'administrateur.list.mail' | translate }}</th>
      <th>{{ 'administrateur.list.voie' | translate }}</th>
      <th>{{ 'administrateur.list.complement' | translate }}</th>
      <th>{{ 'administrateur.list.codePostal' | translate }}</th>
      <th>{{ 'administrateur.list.ville' | translate }}</th>
      <th>{{ 'administrateur.list.pays' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of filterAdministrateur()"   >
      <td>{{admin.civilite}}</td>
      <td>{{admin.nom}}</td>
      <td>{{admin.prenom}}</td>
      <td>{{admin.telephone}}</td>
      <td>{{admin.utilisateur.mail}}</td>
      <td>{{admin.adresse?.voie}}</td>
      <td>{{admin.adresse?.complement}}</td>
      <td>{{admin.adresse?.codePostal}}</td>
      <td>{{admin.adresse?.ville}}</td>
      <td>{{admin.adresse?.pays}}</td>
      <td align="right">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-warning text-white" (click)="edit(admin.id)"><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger" (click)="delete(admin.id)"><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="card-footer">
  <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
</div>

</div>

<div class="card mt-2" *ngIf="administrateurForm">
<div class="card-header">
  {{ 'administrateur.edition.titre' | translate }}
</div>
<div class="card-body">
  <label> {{ 'administrateur.edition.civilite' | translate }} :</label>
  <select [(ngModel)]="administrateurForm.civilite"  class="form-control" >
    <option *ngFor="let civ of civilites">{{civ}}</option>
  </select>
  <label> {{ 'administrateur.edition.nom' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.nom">
  <label> {{ 'administrateur.edition.prenom' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.prenom">
  <label> {{ 'administrateur.edition.telephone' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.telephone">
  <label> {{ 'administrateur.edition.mail' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.utilisateur.mail">
  <label> {{ 'administrateur.edition.voie' | translate }}</label>
  <input type="text" class="form-control"   [(ngModel)]="administrateurForm.adresse.voie">
  <label> {{ 'administrateur.edition.complement' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.adresse.complement">
  <label> {{ 'administrateur.edition.codePostal' | translate }}</label>
  <input type="number" class="form-control" [(ngModel)]="administrateurForm.adresse.codePostal">
  <label> {{ 'administrateur.edition.ville' | translate }}</label>
  <input type="text" class="form-control"  [(ngModel)]="administrateurForm.adresse.ville">
  <label> {{ 'administrateur.edition.pays' | translate }}</label>
  <input type="text" class="form-control" [(ngModel)]="administrateurForm.adresse.pays">

</div>
<div class="card-footer text-right">
  <div class="btn-group ">
    <button class="btn btn-success" (click)="save()">
      <i class="far fa-check-square fa-2x"></i>
    </button>
    <button class="btn btn-warning text-white" (click)="cancel()">
      <i class="far fa-window-close fa-2x"></i>
    </button>
  </div>
</div>
</div>
