<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>{{ 'module.page' | translate }}</b>
    <div class="form-inline">
      <label class="pr-3">{{ 'module.recherche' | translate }}</label>
      <input type="text" [(ngModel)]="search" class="form-control">
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'module.titre' | translate }}</th>
        <th> {{ 'module.formation' | translate }}</th>
        <th> {{ 'module.dtDebut' | translate }}</th>
        <th>{{ 'module.dtFin' | translate }}</th>
        <th>{{ 'module.formateur' | translate }}</th>
      </tr>
      </thead>
      <tbody>
    <tr *ngFor="let module of list()">
      <td>{{module.matiere?.titre}}</td>
      <td>{{module.formation?.intitule}}</td>
      <td>{{module.dtDebut}}</td>
      <td>{{module.dtFin}}</td>
      <td>{{module.formateur?.nom}}</td>
      <td align="right">
        <div class="btn-group btn-group-xs">
         <button class="btn btn-warning" (click)="edit(module.id)"><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger" (click)="delete(module.id)"><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>
<div class="card mt-2" *ngIf="moduleForm">
  <div class="card-header">
    {{ 'module.edit' | translate }}
  </div>
  <div class="card-body">
    <label>Titre :</label>
    <select [(ngModel)]="moduleForm.matiere.id" class="form-control">
      <option  *ngFor = "let matiere of filtermatiere()" [value]="matiere.id" > {{matiere.titre}}</option>
    </select>
    <label>Formation :</label>
    <select [(ngModel)]="moduleForm.formation.id" class="form-control">
      <option  *ngFor = "let formation of filterformation()" [value]="formation.id" > {{formation.intitule}}</option>
    </select>
    <label>Date de début :</label>
    <input type="Date" class="form-control" [(ngModel)]="moduleForm.dtDebut">
    <label>Date de fin :</label>
    <input type="Date" class="form-control" [(ngModel)]="moduleForm.dtFin">
    <label>Formateur :</label>
    <select [(ngModel)]="moduleForm.formateur.id" class="form-control">
      <option  *ngFor = "let formation of filterformateur()" [value]="formation.id" > {{formation.nom}}</option>
    </select>
  </div>
  <div class="card-footer text-right">
    <div class="btn-group ">
      <button class="btn btn-success" (click)="save()">
        <i class="far fa-check-square fa-2x"></i>
      </button>
      <button class="btn btn-warning text-white" (click)="cancel()">
        <i class="far fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>
</div>

