<!--<div class="card">
  <div class="card-header">
    <b>Liste des disponibilites</b>
    <div class="form-inline">
      <label class="pr-3">Recherche : </label>
      <input type="text" [(ngModel)]="search" class="form-control">
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Date de disponibilite</th>
        <th>ID formateur</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    <tr *ngFor="let disponibilite of list()">
      <td>{{disponibilite.id}}</td>
      <td>{{disponibilite.version}}</td>
      <td>{{disponibilite.dtDispo}}</td>
      <td>{{disponibilite.formateur?.id}}</td>
      <td>
        <div class="btn-group btn-group-xs">
         <button class="btn btn-info" (click)="edit(disponibilite.id)"><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger" (click)="delete(disponibilite.id)"><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>
</div>-->

<!--<div class="card mt-2" *ngIf="disponibiliteForm">
  <div class="card-header">
    Edition de la disponibilite
  </div>

  <full-calendar
    *ngIf="options"
    #fullcalendar
    [editable]="true"
    [selectable]="true"
    [events]="eventsModel"
    [header]="options.header"
    (dateClick)="dateClick($event)"
    [customButtons]="options.customButtons"
    [plugins]="options.plugins"
    (dayRender)="dayRender($event)"
    (eventClick)="eventClick($event)"
    (select)="select($event)"
    [columnHeaderHtml]="options.columnHeaderHtml"
    [selectOverlap]="options.selectOverlap"
  ></full-calendar>


   <div class="card-body">-->
<!--    <label>Date de début :</label>-->
<!--    <input type="Date" class="form-control" [(ngModel)]="disponibiliteForm.dtDebut">-->
<!--    <label>Date de fin :</label>-->
<!--    <input type="Date" class="form-control" [(ngModel)]="disponibiliteForm.dtFin">-->
<!--  </div>-->
<!-- <div class="card-footer text-right">
   <div class="btn-group ">
     <button class="btn btn-success" (click)="saveCalendar(getIdUser())">
       <i class="far fa-check-square fa-2x"></i>
     </button>
     <button class="btn btn-warning text-white" (click)="cancel()">
       <i class="far fa-window-close fa-2x"></i>
     </button>
   </div>
 </div>
</div>-->

<div class="card mt-2">
<button class="btn btn-info" (click)="calendar(getIdUser())">
  Afficher mes disponibilités</button>
</div>

<!--Calendrier du formateur dans onglet disponibilite (vue formateur) rattaché à ID du login-->

<div *ngIf="formateurCalendar" class="card-header">
<div  *ngIf="hasAnyRole(['formateur'])" class="card mt-2">
  <div class="card-header">
    <b>{{ 'formateur.calendrier' | translate }}</b>
  </div>

  <div class="card mt-2">
    <full-calendar
      *ngIf="options"
      #fullcalendar
      [editable]="true"
      [selectable]="true"
      [events]="events"
      [header]="options.header"
      (dateClick)="dateClick($event)"
      [customButtons]="options.customButtons"
      [plugins]="options.plugins"
      (dayRender)="dayRender($event)"
      (eventClick)="eventClick($event)"
      (select)="selectCalendar($event)"
      [columnHeaderHtml]="options.columnHeaderHtml"
      [selectOverlap]="options.selectOverlap"
    ></full-calendar>

    <div class="card-footer text-right">
      <div class="btn-group ">
        <button class="btn btn-success" (click)="saveCalendar(getIdUser())">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <button class="btn btn-warning text-white" (click)="cancelCalendar()">
          <i class="far fa-window-close fa-2x"></i>
        </button>
      </div>
    </div>

  </div>
</div>
</div>

