<div class="card">
  <div  class="card-header" style = "text-align: center; font-size: x-large">
    <b>Mon Compte</b>
  </div>
  <div class="card-body" style="display: flex; justify-content: space-between; align-items:center">
      <div class="element">
        <h5 class="card-title">{{ 'monCompte.infoperso' | translate }}</h5>
        <hr>
        <p class="card-text">{{ 'monCompte.identite' | translate }} <label> {{getIdentite()}}</label></p>
        <p class="card-text">{{ 'monCompte.mail' | translate }} <label> {{getMailUser()}}</label></p>
        <h5 class="card-title" style="padding-top: 20px">{{ 'monCompte.infocompte' | translate }}</h5>
        <hr>
        <p class="card-text">{{ 'monCompte.usertype' | translate }} <label> {{getTypeUser()}}</label></p>
        <p class="card-text">{{ 'monCompte.identifiant' | translate }} <label> {{getIdUser()}}</label></p>
        <p routerLinkActive="active"><a [routerLink]="['/resetmdp']" class="mdp-reset">{{ 'monCompte.reset' | translate }}</a></p>
      </div>
      <div>
      </div>
    <div class="element">
      <img src="assets/img/img_avatar.png"
           class="rounded-circle" alt="photo" style="width : 300px;">
    </div>
  </div>
<div *ngIf="hasAnyRole(['client'])">
  <div class="card mt-2" *ngIf="selectedClientContact">
    <div class="card-header">{{ 'client.contact.titre' | translate }}</div>

    <div class="card-body">
      <table class="table table-striped">
          <thead>
          <tr>
            <th>{{ 'contact.list.civilite' | translate }}</th>
            <th>{{ 'contact.list.nom' | translate }}</th>
            <th>{{ 'contact.list.prenom' | translate }}</th>
            <th>{{ 'contact.list.telephone' | translate }}</th>
            <th>{{ 'contact.list.mail' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contact of selectedClientContact">
            <td><span>{{contact.civilite}}</span></td>
            <td><span>{{contact.nom}}</span></td>
            <td><span>{{contact.prenom}}</span></td>
            <td><span>{{contact.telephone}}</span></td>
            <td><span>{{contact.utilisateur?.mail}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hasAnyRole(['formateur'])">
    <div class="card mt-2" *ngIf="selectedFormation">
      <div class="card-header"><b>{{ 'formation.intituleformation' | translate }}</b></div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{ 'formation.intituleformation' | translate }}</th>
          <th>{{ 'formation.dtdebutformation' | translate }}</th>
          <th>{{ 'formation.dtfinformation' | translate }}</th>
          <th>{{ 'formation.ville' | translate }}</th>
          <th>{{ 'formation.referent' | translate }}</th>
          <th>{{ 'formation.referentEmail' | translate }}</th>
          <th>{{ 'formation.referentTelephone' | translate }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formation of selectedFormation">
          <td>{{formation?.intitule}}</td>
          <td>{{formation?.dtDebut}}</td>
          <td>{{formation?.dtFin}}</td>
          <td>{{formation?.ville}}</td>
          <td>{{formation?.formateurReferent.nom}} {{formation?.formateurReferent.prenom}}</td>
          <td>{{formation?.formateurReferent.mail}}</td>
          <td>{{formation?.formateurReferent.telephone}}</td>
          <td><div class="btn-group btn-group-xs">
            <button class="btn btn-primary" (click)="listModules(formation.id)"><i
              class="fas fa-book"></i></button>
          </div></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="card mt-2" *ngIf="moduleList">
      <div class="card-header">
        <b>Liste des modules</b>
      </div>
      <div class="card-body">
              <span class="table-add float-right mb-3 mr-2">
        <a class="text-danger" (click)="cancelContact()">
          <i class="far fa-window-close fa-2x"></i>
        </a>
      </span>
        <table class="table table-striped">
          <thead style="text-align: center">
          <tr>
            <th>Titre</th>
            <th>Durée (en jours)</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formateur</th>
          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr *ngFor="let module of moduleList">
            <td>{{module.matiere?.titre}}</td>
            <td>{{module.matiere?.duree}}</td>
            <td>{{module.dtDebut}}</td>
            <td>{{module.dtFin}}</td>
            <td>{{module.formateur?.nom}} {{module.formateur?.prenom}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
